.red-background-cell{
    background-color: red;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 25px;
    height: 25px;
}
.green-background-cell{
    background-color: greenyellow;
    align-items: center;
    padding: 10px;
     width: 25px;
    height: 25px;
}